@charset "UTF-8";

@font-face {
    font-family: 'Permanent';
    src: url(fonte/PermanentMarker-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'padrao';
    src: url(fonte/PTSerif-Regular.ttf) format(truetype);
}
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:#ffffff;
    --cor1:#d4c77f;
    --cor3:#ffc857;
    --cor5:#2b4570;
    --cor6:#000000;
    --fontpadrao:'permanent', serif;
    --fontedestaque: 'padrao', serif;
   
}

body{
    background-color: var(--cor0);

}

header{
    background-image: url('imagens/pixels.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center ;
    min-height: 100px;
    text-align: center;
    padding-top:40px;
    margin-bottom: 30px;
    color: var(--cor3);
 }

 header h1{
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px var(--cor6);
 }
 header p{
    text-shadow: 0px 0px 1px var(--cor6);
    color:var(--cor2);
 }

/*nav a{
    padding: 10px;
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor0);
}*/

main{
    min-width: 320px;
    max-width: 1080px;
    /*background-color: var(--cor3);*/
    background-image: url(imagens/minecraft.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 15px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
 
main h1{
    background-image: linear-gradient(to right, var(--cor0), var(--cor1));
    font-size: 1.8em;
    margin: 10px;
}

main h2{
font-family: var(--fontpadrao);
}

main p{
    line-height: 1.5;
    font-family: var(--fontedestaque);
    text-align: justify;
}

main a{
    text-decoration: none;
    color: var(--cor0);
    background-color: var(--cor1);
    padding: 5px;
    border-radius: 3px;
}

p.par{
    margin: 10px;

}

main audio{
    margin: 10px;
}

main a:visited{
    color: var(--cor6);
}

main blockquote{
    text-align: center;
}

footer{
    color: var(--cor5);
    margin-top: 15px;
    text-align: right;
    text-shadow: 0px 0px 0.2px var(--cor6);
    font-style: italic;
    margin: 5px;
}